.Detail {
    background-color: rgb(67, 105, 67);
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
}

.Detail__title {
    text-decoration: underline;
}

.goback {
    margin-bottom: 25px;
}

.Detail__description {
    margin-top: 25px;
    margin-bottom: 25px;
}

.website__link {
    color: rgb(253, 253, 253);
}

.goback__link {
    font-size: larger;
    color: white;
    background: rgb(75, 101, 122);
    text-decoration: none;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
    
.goback__link:hover {
    color: coral;
    background: gray;
}
