.Detail {
    background-color: rgb(67, 105, 67);
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
}

.Detail__title {
    text-decoration: underline;
}

.goback {
    margin-bottom: 25px;
}

.goback__link:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.Detail__description {
    margin-top: 25px;
    margin-bottom: 25px;
}

.website__link {
    color: rgb(253, 253, 253);
}
