.map {
    width: 100%;
    height: 150%;
    align-items: left;
}   

.loadingElement {
    height: 300%;
}

.containerElement {
    height: 400px;
}

.mapElement {
    height: 100%;
}

@media only screen and (min-width: 760px) {
    .loadingElement, .mapElement {
        height: 100%
    }

    .containerElement {
        height: 66%;
    }
}