input:focus {
    outline: none;
}

.Search__button {
    color: white;
    background-color: rgb(75, 101, 122);
    outline: rgb(9, 12, 12);
    border: 2px solid rgb(9, 12, 12);
    border-radius: 5px;
}

.Search__button:hover {
    cursor: pointer;
}

.Search__input {
    border: none;
    border-bottom: 2px solid rgb(9, 12, 12);
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}
