.mainpage {
    background-color: white;
    background-repeat: no-repeat, repeat;
    color: black;
    margin-top: 0;
    height: 100%;
}

.map-section {
    display: inline;
}

@media only screen and (min-width: 760px) {
    .flex-container {
        display: flex;
    }

    .mainpage, .map-section {
        width: 50vw;
        padding: 0 10px;
    }
}