.Course {
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(67, 105, 67);
    margin: 2px 2px;
    color: white;
}

.Course__content {
    margin-bottom: 5px;
}

.Course__name:hover {
    transform: scale(1.1);
}

.Course__link {
    color: white ;
}
@media only screen and (min-width: 760px) {
    .Course {
       
    }
}
