.Course {
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(126, 158, 126);
    margin: 2px 2px;
}

.Course__content {
    margin-bottom: 5px;
}

.Course__name:hover {
    transform: scale(1.1);
}

.Course__link {
    color: white ;
}