.ResultsList {
    margin: 0 4vw;
    height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
}

.ResultsList::-webkit-scrollbar {
    display: none;
}

li {
    list-style-type: none;
    list-style-position: outside;
}

@media only screen and (min-width: 760px) {
    .ResultsList {
        margin: 0 2vw;
    }
    
  
}